<!DOCTYPE html>
<html>
    <head>
        <title>Le Hello World de Symfony 2</title>
    </head>
    <body>
        <h1>Hello !</h1>
        <p>
            Le hello World est un grand classique en prpgrammation. Il signifie énormément, car celà veut dire que vous avez réussi !
        </p>
    </body>
</html>
