<nav>
    <ul>
        <li>
            &copy 2011-2013 Estelle Guémann
        </li>
        {% for item in menu %}
            <li>
                <a href="{{ path(item.path) }}" title="{{ item.title }}">{{ item.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>